<<<<<<< HEAD
 .body {
    background-color: #E5E5E5;
=======
.body {
    /*background: color #f9faff;*/
    background: url(/Project2-Team1/assets/images/germangirl1.png) no-repeat right top;
    background-color: cover;
    max-width: 1440px;
    background-attachment: fixed;
}

.main{
    background-color: #f9faff;
}
/*Блок Оксаны*/
.header{
    display: flex;
    height: 480px;
    
}

.paragraph {
    float: left;
    margin-left: 140px;
    width: 480px;
}

.generallist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list {
    float: right;
    margin-right: 67px;
}

.link {
    display: block;
    padding: 15px;
    color: black;
    text-decoration: none;

}

.link:visited {
    color: #3e343e;
}

.link:hover {
    text-decoration: none;
    color: #eb1b1b;
}

.teachersname {
    float: left;
    margin-left: 0px;
}

.germangirl {
    float: right;
    height: 500px;
    width: 600px;
    margin-right: 70px;
    background-attachment: fixed;
}

/*Конец блока Оксаны */

/*Блок Нади*/
.main__div {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1rf);
}

.main__div__block1 {
    display: flex;
    width: 992px;
    margin-left: 150px;
    flex-grow: 1;
    padding: 5px;
    /*background-color: white;*/
    /*border-radius: 5% 5% 5% 5%;*/
}

.main__div__p {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    margin: 0;
    
}

.main__div__p:last-child{
    padding: 0;
    margin: 0;
}

.for-whom{
    display: flex;
    padding: 15px;
    margin: 5px;
    background-image: url(/Project2-Team1/assets/images/blob.svg);
    background-repeat: no-repeat;

}

.image__main {
    border-radius: 0 5% 5% 0;
    margin: 0% 0% 0% 0%;
    width: 600px;
}

/*Конец блока Нади */

/*Cаша*/
.image__main_price {
    border-radius: 5% 0% 0% 5%;
}

.h2 {
    font-family: Playfair Display;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
}

/*Блок цена и услуги*/
.title{
font-style: normal;
font-weight: 700;
font-size: 2.5rem;
line-height: 150%;
color: #e87400;
text-align: center;
margin-bottom: 20px;
margin-top: 50px;
}

.block-services__prices{
    display: flex;
    flex-direction: row;
}

.pricing-table{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: min(1200px, 100vw);
    margin: 0 auto;
    padding: 0;
    position: relative;
    border: solid black 1px;
}

.pricing-card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 0 1 100%;
    padding-left: 15px;
    text-align: center;
    /*cursor: pointer;
    overflow: hidden;
    transition: .3s linear;*/
    background-image: url(./assets/images/blob-2.svg);
    background-color: cover;
    background-size: 420px;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 420px;
    height: 420px;
    
}

/*.pricing-card__image .image{
    object-fit: cover;
}*/
    
.pricing-card__header{
    /*background-color: #fdc435;*/
    display: inline-block;
    color: black;
    padding-top: 120px;
    border-radius: 10px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    /*transition: .4s linear;*/
}

/*.pricing-card:hover .pricing-card__header {
    box-shadow: 0 0 0 26em #fdc435;
}*/

.price{
    color: white;
    margin: 10px 0;
}

.price span{
    font-size: 30px;
    font-weight: 700;
}

/*.pricing-card:hover, .pricing-card:hover .price{
    color: #fff;
}*/

.pricing-card div{
    font-size: 18px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 600;
}

@media (max-width: 1200px){
    .pricing-card{
        flex:50%;
    }
}


/*Блок Алины*/

.block-four {
    display: flex;
    flex-direction: column;
}

.block-four__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center; /*добавила выравнивание по центру*/
}

.block-four__header {
    text-align: center;
}

.block-four__title {
font-style: normal;
font-weight: 700;
font-size: 2.5rem;
line-height: 150%;
color: #e87400;
}

.image-one {
    height: 60vh;
    width: 60%;
    max-width: 100%;
}

.image-two {
    height: 60vh;
    width: 60%;
    max-width: 100%;
}

.image-three {
    height: 60vh;
    width: 60%;
    max-width: 100%;
}
