.body {
    background-color: #E5E5E5;
    font-family: 'Nunito', sans-serif;
}


/*Блок Оксаны*/
.header {
    display: flex;
    height: 480px;
}

h1{
    font-family: 'Nunito', sans-serif, bold;
}
.paragraph {
    font-family: 'Nunito', sans-serif;
    position: relative;
    float: left;
    margin: 40px;
    color: black;
    width: 40%;
    padding-top: 1em;
}

.backgroundimage {
    background-image: url("./assets/images/germangirl1.png");
    height: 500px;
    width: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    float: right;
    padding: 10px;
    margin-bottom: 10px;
}
    
.container1 {
    float: right;
    margin: 10px;
}

.navbar {
    font-family: 'Nunito', sans-serif, bold;
    overflow: hidden;
    margin-right: 10px;
}

.navbar a {
    color: #eb1b1b;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    transition: 1s linear;
    cursor: pointer;
    background-color: rgb(230, 129, 129);
    color: rgb(110, 103, 103);
}

/*.link {
    display: block;
    padding: 15px;
    color: black;
    text-decoration: none;
}*/

.link:visited {
    color: #3e343e;
}

.link:hover {
    text-decoration: none;
    color: #eb1b1b;
    /*font-weight: 600;*/
}

.teachersname {
    float: left;
    margin-left: 0px;
}

/*Конец блока Оксаны */

/*Блок Нади*/
.main__div {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1rf);
    /*border: 1px solid black;*/
}

.main__div__bloсk11 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 5% 25%);

}

.container {
    height: 100%;
    width: 100%;
    justify-self: center;
    /*justify-content: center;
    align-items: center;*/
    margin: 0 auto;
    padding: 0;
    /*border: 1px solid black;*/
}

.main__div_items {
    width: 400px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(./assets/images/abstract-background.png);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container>.main__div_items:nth-child(2n) {
    margin-left: 50%;
}

.main__div_items:last-child {
    margin-bottom: 50px;
}

.main__div__text {
    color: black;
    width: 40%;
    padding-top: 1em;
}

.main__div__h2 {
    grid-area: 1/1/2/2;
    justify-self: center;
}

.main__div__p1 {
    grid-area: 2/1/3/2;
    position: relative;
}

.main__div__p2 {
    grid-area: 3/1/4/2;
    position: relative;
}

.main__div__p3 {
    grid-area: 4/1/5/2;
    position: relative;
}

.main__div__p4 {
    grid-area: 5/1/6/2;
    position: relative;
}

/*Конец блока Нади */

/*Cаша*/
.image__main_price {
    border-radius: 5% 0% 0% 5%;
}

.h2 {
    font-family: Playfair Display;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
}

/*Ира - Блок цена и услуги*/
.block-services {
    display: grid;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 0;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 150%;
    color: #e87400;
    text-align: center;
    margin-bottom: 0;
    margin-top: 50px;
    /*border: 1px solid black;*/
    }

.block-services__prices {
    display: flex;
    flex-direction: row;
}

.pricing-table {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: min(1200px, 100vw);
    margin: 0 auto;
    padding: 0;
    position: relative;
    /*border: solid black 1px;*/
}

.pricing-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 0 1 100%;
    padding-left: 15px;
    text-align: center;
    /*cursor: pointer;
    overflow: hidden;
    transition: .3s linear;*/
    background-image: url(./assets/images/price.svg);
    background-color: cover;
    background-size: 420px;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 420px;
    height: 420px;

}

/*.pricing-card__image .image{
    object-fit: cover;
}*/

.pricing-card__header {
    /*background-color: #fdc435;*/
    display: inline-block;
    color: #f30000;  
    padding-top: 120px;
    border-radius: 10px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    /*transition: .4s linear;*/
}

/*.pricing-card:hover .pricing-card__header {
    box-shadow: 0 0 0 26em #fdc435;
}*/

.price {
    color: black;
    margin: 10px 0;
}

.price span {
    font-size: 30px;
    font-weight: 700;
}

/*.pricing-card:hover, .pricing-card:hover .price{
    color: #fff;
}*/

.pricing-card div {
    font-size: 18px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 600;
}

.pricing-card__details{
    color: black;
}

.free-lesson{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    height: 260px;
    width: 760px;
    background-image: url(./assets/images/free-lesson.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.free-lesson h2 span{
    color: #f30000;
}

@media (max-width: 1200px) {
    .pricing-card {
        flex: 50%;
    }
}

/*Конец блока Иры*/

/*Блок Алины*/

.block-four {
    display: flex;
    flex-direction: column;
}

.block-four__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
    align-items: center;
    justify-items: center;
    /*добавила выравнивание по центру*/
}

.block-four__header {
    text-align: center;
}

.block-four__title {
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 150%;
    color: #e87400;
}

.image-one {
    height: 60vh;
    width: 60%;
    max-width: 100%;
}

.image-two {
    height: 60vh;
    width: 60%;
    max-width: 100%;
}

.image-three {
    height: 60vh;
    width: 60%;
    max-width: 100%;
}

.main__div__block5{
    border: 1px solid black;
}

.footer {
    display: flex;
    flex-direction: row;
    height: 260px;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/images/footer-bg.svg);
    background-repeat: no-repeat;
    background-position: bottom;
  }
  .footer img {
    width: 36px;
    height: 36px;
  }
  .footer .footer__messangers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .footer .footer__messangers .messanger {
    margin: 10px;
  }