
/*Блок Оксаны*/

p {
    float: left;
    margin-left: 140px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
    float: right;
    margin-right: 67px;
  }
  
a {
    display: block;
    padding: 15px;
    color: black;
    text-decoration: none; 
    }

a:visited {
    color: #3e343e;
    } 
       
a:hover {
    text-decoration: none;
    color: #eb1b1b;  
    background: #f2e856e5; 
  }

.teachersname {
    float: left;
    margin-left: 0px;
  }

img {
    float: right; 
    height: 500px;
    width: 600px;
    margin-right: 70px;
  }

  /*Конец блока Оксаны */

.main__div {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1rf);
}

.main__div__blok1 {
    display: flex;
    width: 992px;
    margin-left: 150px;
    flex-grow: 1;
    padding: 25px;
}

p {
    padding-right: 39px;
}

.image {
    border-radius: 0 5% 5% 0;
}